@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Taviraj', sans-serif;
  font-style: italic;
  color: #00b0dc;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
