@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  color: #145da0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
